<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>リアルタイムチャット</title>
		<script th:src="@{/js/sockjs.min.js?v=1}"></script>
		<script th:src="@{/js/stomp.min.js?v=1}"></script>
		</head>
	<body>
		<h2>チャットルーム</h2>
		<div id="messages"
			style="border:1px solid #ccc; height:300px; 
				overflow-y:scroll; margin-bottom:10px; padding:10px;">
			</div>
		<input type="text" id="messageInput" placeholder="メッセージを入力...">
		<button onclick="sendMessage()">送信</button>
		
		<script>
			var stompClient = null;
			
			//ページが開いたら自動で接続
			function connect(){
				var socket = new SockJS('/ws-chat');
				stompClient = Stomp.over(socket);
				stompClient.connect({}, function (frame){
					console.log('Connected: ' + frame);
					// /topic/messagesを見張っておく
					stompClient.subscribe('/topic/messages', function(response){
						showMessage(response.body);
					});
				});
			}
			
			function sendMessage(){
				var message = document.getElementById('messageInput').value;
				//サーバーの/app/messageへ送信
				stompClient.send("/app/message", {}, message);
				document.getElementById('messageInput').value = '';
			}
			
			function showMessage(message){
				var div = document.getElementById('messages');
				var p = document.createElement('p');
				p.appendChild(document.createTextNode(message));
				div.appendChild(p);
				//最新のメッセージが見えるように自動スクロール
				div.scrollTop = div.scrollHeight;
			}
			
			connect();
		</script>
	</body>
</html>
